div {
  text-align: center;
  }
body {
    font-family: sans-serif;
    margin: 0;
    display: block;
    font-size: 20px;
}
body {
    background-color: #b9baca;
    font-family: sans-serif;
    margin: 0;
}
.content {
    font-family: sans-serif;
    color: rgb(59, 67, 95)
}
.topnav a {
    float: center;
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-family: helvetica, sans-serif;
}
.topnav {
    overflow: hidden;
    background-color: #5e7896;
}